/*-------------------------NavBAR---------------------------------------*/

.toolbar{
    display:flex;
    justify-content: space-around; 
    top:0;
    left:0;
    min-height: 56px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(2, 2, 59);
}

.toolbar_logo{
    color:rgb(149, 7, 7);
    text-decoration: none;
    font-size:1.0rem;
    margin-left:2rem;   
}

.paragraph{
    color:rgb(149, 7, 7);
    text-decoration: none;
    font-size:1 rem;
    font-family:'Gelasio', serif;
    margin-left:2rem;
}

.toolbar__navigation{
    display:flex;
    width:100%;
    align-items: center;
    padding:0 1rem;
}

.spacer{
    flex:2;
}

.toolbar_navigation-items{
    list-style: none;
  
}

.toolbar_navigation-items ul{
    list-style: none;
    margin: 0;
    padding:0;
    display:flex;
}

.toolbar_navigation-items li{
    padding:1.5rem;
    letter-spacing:3px;
    
}

.link{
    color: white;
    text-decoration:none;
    letter-spacing:3px;
    font-size:25px;
}

.link:hover,
.link:active {
    color: rgb(17, 17, 121)
}


@media (max-width: 768px) {
    .toolbar_navigation-items{
        display:none;
    }
}

@media (min-width: 769px){
    .toolbar__toggle-button {
        display: none;
    }
    .toolbar_logo{
        margin-left:0;
    }
}
